{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="container-fluid" id="root">
        <div class="row">
            <div class="col-lg-4">
                <login></login>
            </div>
            <div class="col-lg-8 align-middle">
                <loader :show="true" :width="150" :height="150"></loader>
            </div>
        </div>
    </div>
{% endblock %}