<template>
    <div v-if="show" class="align-middle">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:transparent;display:block;" :width="width + 'px'" :height="height + 'px'" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <g transform="translate(26.666666666666668,26.666666666666668)">
                <rect x="-20" y="-20" width="40" height="40" fill="#04320d" transform="scale(1.02258 1.02258)">
                    <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="1.1500000000000001;1" begin="-0.3s"></animateTransform>
                </rect>
            </g>
            <g transform="translate(73.33333333333333,26.666666666666668)">
                <rect x="-20" y="-20" width="40" height="40" fill="#286a1d" transform="scale(1.03758 1.03758)">
                    <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="1.1500000000000001;1" begin="-0.2s"></animateTransform>
                </rect>
            </g>
            <g transform="translate(26.666666666666668,73.33333333333333)">
                <rect x="-20" y="-20" width="40" height="40" fill="#4eb969" transform="scale(1.06758 1.06758)">
                    <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="1.1500000000000001;1" begin="0s"></animateTransform>
                </rect>
            </g>
            <g transform="translate(73.33333333333333,73.33333333333333)">
                <rect x="-20" y="-20" width="40" height="40" fill="#249b3d" transform="scale(1.05258 1.05258)">
                    <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="1.1500000000000001;1" begin="-0.1s"></animateTransform>
                </rect>
            </g>
        </svg>
    </div>
</template>

<script>
    export default {
        name: "loader",
        props: {
            show: {
                type: Boolean,
                default: false
            },
            width: {
                type: Number,
                default: 50
            },
            height: {
                type: Number,
                default: 50
            },
        }
    }
</script>

<style scoped>

</style>