<template>
    <div>
        <div v-cloak v-show="!$parent.$options.store.state.auth.isLogin" class="panel panel-login">
            <div class="panel-heading">
                <div class="row custom-wrapper">
                    <div class="col-xs-6">
                        <a href="#" class="active mr-1" id="login-form-link">Login</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" id="register-form-link">Register</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="login-form" method="post" role="form" style="display: block;" @submit.prevent="loginAction">
                            <alert :message="loginErrorMessage" alertType="alert-danger"></alert>
                            <div class="form-group">
                                <input type="text"
                                       name="username"
                                       id="username-1"
                                       tabindex="1"
                                       class="form-control"
                                       placeholder="Username"
                                       v-model="login.username"
                                >
                            </div>
                            <div class="form-group">
                                <input type="password"
                                       name="password"
                                       id="password-1"
                                       tabindex="2"
                                       class="form-control"
                                       placeholder="Password"
                                       v-model="login.password"
                                >
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                    </div>
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <loader :show="loaderLogin"></loader>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form id="register-form" action="https://phpoll.com/register/process" method="post" role="form" style="display: none;">
                            <div class="form-group">
                                <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div v-cloak v-show="$parent.$options.store.state.auth.isLogin" class="panel panel-login">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="registered-user" method="post" role="form" style="display: block;" @submit.prevent="loginAction">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        asdasd
                                    </div>
                                    <div class="col-sm-12 col-sm-offset-12">
                                        <input type="submit" name="logout-submit" id="logout-submit" tabindex="4" class="form-control btn btn-login" value="Log Out">
                                    </div>
                                    <div class="col-sm-12 col-sm-offset-12">
                                        <loader :show="loaderLogin"></loader>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import loader from './../helpers/loader/loader';
    import alert from './../helpers/notif/alert';

    export default {
        name: "login",
        mounted() {
            $('#login-form-link').click(function(e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
            $('#register-form-link').click(function(e) {
                $("#register-form").delay(100).fadeIn(100);
                $("#login-form").fadeOut(100);
                $('#login-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
        },
        data: function () {
            return {
                login: {
                    username: '',
                    password: '',
                },
                loginErrorMessage: '',
                loaderLogin: false,
            }
        },
        methods: {
            closeErrorButton: function() {
                this.loginErrorMessage = '';
            },
            loginAction: function () {
                this.closeErrorButton();
                this.loaderLogin = true;
                var _self = this;
                this.$parent.$options.store.state.axios
                    .post('/api/login_check', this.login)
                    .then(response => {
                        _self.loaderLogin = false;
                        _self.$parent.$options.store.commit('axiosAddToken', response.data.token);
                    })
                    .catch(error => {
                        console.dir(error);
                        if (
                            error.response.data.code != undefined       ||
                            error.response.data.code != 200             ||
                            error.response.data.message != undefined
                        ) {
                            _self.loginErrorMessage = error.response.data.message;
                        }
                    })
                    .finally(() => (_self.loaderLogin = false));
            },
            getUser() {
                if (
                    this.$parent.$options.store.state.auth.isLogin == true &&
                    this.$parent.$options.store.state.auth.token != ''
                ) {

                }
            }
        },
        components: {
            'loader': loader,
            'alert' : alert,
        }
    }
</script>

<style scoped lang="css">
    .error-wr {
        padding-left: 5px;
        padding-top: 5px;
    }
    .custom-wrapper {
        padding: 10px;
        margin: 0;
    }
    .panel-login {
        padding: 5px;
        border-color: #ccc;
        -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    }
    .panel-login>.panel-heading {
        color: #00415d;
        background-color: #222;
        border-color: #222;
        text-align:center;
    }
    .panel-login>.panel-heading a{
        text-decoration: none;
        color: #666;
        font-weight: bold;
        font-size: 15px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    .panel-login>.panel-heading a.active{
        color: #ffffff;
        font-size: 18px;
    }
    .panel-login>.panel-heading hr{
        margin-top: 10px;
        margin-bottom: 0px;
        clear: both;
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
        background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    }
    .panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    .panel-login input:hover,
    .panel-login input:focus {
        outline:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #ccc;
    }
    .btn-login {
        background-color: #59B2E0;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #59B2E6;
    }
    .btn-login:hover,
    .btn-login:focus {
        color: #fff !important;
        background-color: #53A3CD;
        border-color: #53A3CD;
    }
    .forgot-password {
        text-decoration: underline;
        color: #888;
    }
    .forgot-password:hover,
    .forgot-password:focus {
        text-decoration: underline;
        color: #666;
    }

    .btn-register {
        background-color: #1CB94E;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #1CB94A;
    }
    .btn-register:hover,
    .btn-register:focus {
        color: #fff;
        background-color: #1CA347;
        border-color: #1CA347;
    }
    .form-control {
        background-color: #0a0a0a;
    }
    .form-control:focus {
        color: #1ca347;
    }

    .form-control {
        color: #858585;
    }

</style>