<template>
    <div v-cloak v-show="isShow" class="alert alert-dismissible" :class="alertType">
        <button type="button" class="close" @click.prevent="close">&times;</button>
        {{ message }}
    </div>
</template>

<script>
    export default {
        name:               "alert",
        data: function() {
            return {
                isShow: false,
                alertTypeData: {
                    danger:     'alert-danger',
                    success:    'alert-success',
                    info:       'alert-info',
                    primary:    'alert-primary',
                    secondary:  'alert-secondary',
                    light:      'alert-light',
                }
            }
        },
        props: {
            message: {
                type: String,
                default: '',
            },
            alertType: String,
        },
        methods: {
            close: function () {
                this.isShow = false;
            },
        },
        watch: {
            message: function(val) {
                if(val !== false || val != '') {
                    this.isShow = true;
                }
            }
        },
    }
</script>

<style scoped>

</style>